* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: black;
}

header, main, footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

div {
    margin: 15px;
}

h1 {
    color: white;
    font-size: 50px;
    padding: 20px 0;
}

h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
    padding: 20px 0 40px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

main video{
    margin: 20px;
}

p {
    font-size: 21px;
    color: grey;
    padding: 0 10px 15px; 
}

footer p{
    text-align: right;
}