* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    align-items: center;
    text-align: center;
}

header, main, footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: grey;
}

//nog toevoegen: marges en fam-icon onderin